@page "/"
@using HPCTech2024SpringProjectBoilerPlate.Client.Components
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications


@if (UserFavoriteMovies?.Any() ?? false)
{
    <ul>
    @foreach (var movie in UserFavoriteMovies)
    {
            <li><a href="#" @onclick="@(() => ShowMovieDetails(movie))" @onclick:preventDefault style="text-decoration:none;color:black">  @movie.Title (@movie.Year)</a></li>
    }
    </ul>
    <MovieDetails Movie=Movie />
}

<SfToast    @ref="ToastObj"
            Content="@toastContent"
            ShowCloseButton="true"
            ShowProgressBar="true"
            CssClass="@toastSuccess"
            Timeout="3000">
        <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>